player-connection-mode=Listen
player-connection-guid=4217571569
player-connection-debug=0
player-connection-ip=192.168.118.1
player-connection-ip=192.168.27.1
player-connection-ip=192.168.2.10
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
